.Extandle {
  margin-top: 100px;
  background-color: #ffffff;
}
.Extandle span {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 28px;
  font-weight: 700;
  color: #1f2026;
}
.LowPrices {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  flex-wrap: wrap;
  align-items: center;
}
.goods {
  width: 232px;
  height: 456px;
  margin-top: 21px;
  position: relative;
}
.like {
  position: absolute;
  top: 10px;
  left: 90%;
  width: 24px;
  height: 24px;
}
.like svg {
  width: 20px;
  height: 20px;
}
.goods .image {
  width: 100%;
  height: 309px;
  object-fit: cover;
}
#title {
  font-size: 12.8px;
  font-weight: 400;
  color: #1f2026;
}
#star {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 11.2px;
  font-weight: 300;
  color: #8b8e99;
  margin-top: 6px;
}
#credit {
  width: max-content;
  height: 17px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 400;
  background-color: #ffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  padding: 5px;
}
.product {
  height: 70px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-top: 20px;
}
.price #fake-price {
  font-size: 11.2px;
  font-weight: 400;
  text-decoration: line-through;
  color: #8b8e99;
}
.price #actual-price {
  font-size: 14px;
  font-weight: 500;
  color: #1f2026;
}
.product .image img {
  width: 32px;
  height: 32px;
}
.wrapper-image {
  margin: auto;
  margin-top: 16.3px;
}
.wrapper-image img {
  width: 100%;
  height: 413px;
  margin-top: 16px;
  border-radius: 8px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn button {
  width: 740px;
  height: 56px;
  border-radius: 8px;
  background-color: #f2f4f7;
  color: #1f2026;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin-top: 40px;
}
.section-title {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  color: #1f2026;
}
.section-title svg {
  width: 9px;
  height: 14.25px;
}
.Electronics {
  margin-top: 53px;
}
